@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-chillax), sans-serif;
}

.join-button {
  display: inline-block;
  background-color: #ffffff;
  color: #000;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.join-button:hover {
  background-color: #A1FE34;
}

.button-glass {
  @apply
    flex
    items-center
    justify-center
    w-[200px]
    h-9
    rounded-[32px]
    bg-[#0B2349]
    text-white
    shadow-[0px_1px_20px_-5px_rgba(0,0,0,0.10)]
    backdrop-blur-[5px];
}